.product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.product-img {
    max-width: 400px;
    max-height: 600px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.product-detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}